@import url('../resurces/fonts/stylesheet.css'); /*RFDewiCondensed*/

.menu-button {
    margin-right: 12px;
    font-family: 'RF Dewi Condensed', sans-serif;
    font-weight: 200;
    font-size: 16px;
}

.menu-button:last-child {
    margin-right: 0px;
}

.btn-primary {
    background-color: #144F9D !important;
    border-radius: 12px;
}

.title span {
    color: #144F9D;
}

/*!!!!!!!!!!!!! переписать параметры !!!!!!!!!!!!!*/

.description_section {
    font-family: "RF Dewi Condensed", sans-serif;
    font-size: 48px;
    font-weight: 800;
    margin-top: 238px;
}

.description_content .secondary {
    font-family: "RF Dewi Condensed", sans-serif;
    font-size: 24px;
    font-weight: 200;
    margin-top: 46px;
}

.advantages_section .title {
    font-family: "RF Dewi Condensed", sans-serif;
    font-size: 36px;
    text-decoration: solid;
    margin-bottom: 120px;
}

.card {
    background-color: #144F9D;
    border-radius: 24px;
    width: 318px;
    height: 248px;
}

.advantages_cards {
    display: flex;
    justify-content: space-between;
}

.car_image {
    position: static; /* Убираем absolute */
    transform: translateY(-30%);
    margin-left: auto;
    margin-right: auto;
    width: 318px;
    height: 318px;
}

